.topnav {
    display: flex;
    align-items: center;

    a {
        padding: 1rem;
        font-size: 2rem;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}